name: flutter_splendid_ble_example
description: Demonstrates how to use the flutter_splendid_ble plugin.
homepage: https://github.com/Toglefritz/flutter_splendid_ble
repository: https://github.com/Toglefritz/flutter_splendid_ble

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_splendid_ble:
    # When depending on this package from a real application you should use:
    #   flutter_ble: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../

  # Provides localized string values
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.1
  # Provides a cross-platform (iOS, Android) API to request and check permissions
  permission_handler: ^11.1.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  generate: true
