/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #404040;
  --ifm-color-primary-dark: #3a3a3a;
  --ifm-color-primary-darker: #363636;
  --ifm-color-primary-darkest: #2d2d2d;
  --ifm-color-primary-light: #464646;
  --ifm-color-primary-lighter: #4a4a4a;
  --ifm-color-primary-lightest: #535353;

  .footer {
    background-color: #3a3a3a; /* Set your desired background color */
    color: #ffffff;           /* Set your desired text color */
  }

  .footer a {
    color: #61dafb;           /* Set the color for links in the footer */
  }

  .footer a:hover {
    color: #21a1f1;           /* Set the hover color for links */
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ededed;
  --ifm-color-primary-dark: #d5d5d5;
  --ifm-color-primary-darker: #c9c9c9;
  --ifm-color-primary-darkest: #a6a6a6;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}
